In [113]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests

## DataCollection by webscraping the data using Beautifulsoup package

We import packages like requests and beautifulsoup to parse the html document

In [2]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

Beautiful soup package has 4 types of parsers.

'html.parser','lxml','xml','html5lib'.

We will be using 'lxml' parser.

In [114]:
soup=BeautifulSoup(source,'lxml')

We are using the soup object created to find a specific markup tag i.e table in this context

In [115]:
table=soup.find('table')

####  Table tag has to be identified and loop through all the rows of the table markdown.

#### After cleaning we must create a dataframe with a conditional i.e (Value of borough with assigned values) ,Neighborhood and Postal Code

In [116]:
data=[]
rows=table.find_all('tr')
for row in rows:
    cells=row.find_all('td')
    cells=[i.text.strip() for i in cells]
    data.append(cells)

In [117]:

dftable = pd.DataFrame(data[1:], columns=['Postal code','Borough','Neighborhood'])
dftable.head(4)

  Postal code       Borough      Neighborhood
0         M1A  Not assigned
1         M2A  Not assigned
2         M3A    North York         Parkwoods
3         M4A    North York  Victoria Village

In [118]:
dftable.shape

(180, 3)

In [119]:
dftable=dftable.loc[dftable['Borough']!='Not assigned']

In [120]:
print('Shape of the dataframe is : \n',dftable.shape)

Shape of the dataframe is :
 (103, 3)

In [121]:
dftable.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government